---
layout: layout.njk
title: Contact
bodyClass: "contact"
---

<div class="main-wrapper d-flex justify-content-center align-items-center text-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto">
      <h1 class="display-2">Contact</h1>
      <a href="mailto:rlongevialle@wanadoo.fr" class="text-white mb-2 d-block">rlongevialle@wanadoo.fr</a>
      <p class="fs-4">tel: 06 07 88 14 77</p>
    </div>
  </main>
</div>