---
layout: layout.njk
title: Vos Évenéments
bodyClass: "vos-evenements"
---

<div class="main-wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto mt-5">
      <h1 class="display-2 mt-5">Vos Évenéments</h1>
      <p>Le château de Villeconin vous accueille pour vos événements privés.</p>
      <p>Voici quelques exemples de manifestation que nous accueillons régulièrement, mais n’hésitez pas à nous fair part de votre besoin au 06 85 08 41 30.</p>
      <h1>Mariage</h1>
        <p>- Shooting photo dans le parc pour les mariés ou l’ensemble de la noce</p>
        <p>-  Vin d’honneur sous certaines conditions</p>
      <img class="img-fluid mb-5" src="/assets/images/events_1.jpg" alt="Parc du château de Villeconin" />

      <h1>Journées team building / Activités d’extérieur</h1>
        <p>Journée en extérieur dans le parc avec accès à des sanitaires (picnic, jeux en extérieur, chasse au trésor...)</p>
      <img class="img-fluid mb-5" src="/assets/images/events_2.jpg" alt="Parc du château de Villeconin" />
      
      <h1>Culture</h1>
        <p>Nous sommes ouverts à toute proposition de collaboration : organisation de concert, exposition, pièce de théâtre...</p>
      <img class="img-fluid mb-3" src="/assets/images/events_3.jpg" alt="Parc du château de Villeconin" />
    </div>
  </main>
</div>