.container {
  display: grid;
  grid-template-columns: 100px 1fr 100px;

  main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    img {
      width: 75%;
      margin: 0 auto;
    }
  }
}