body {
  background-image: url('image2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: roboto;

  .overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.2);
    color: white;

    h1 {
      font-family: "Pinyon Script", cursive;
    }
  }
}