---
layout: layout.njk
title: Accès
bodyClass: "history"
---

<div class="main-wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto p-5 p-lg-0">
      <p>
        Le château de Villeconin a été construit à la fin du 14ème siècle par
        Jean de Montagu, surintendant des finances du roi Charles VI. Il est transformé
        à la Renaissance par les Cochefilet, belle-famille de Sully. A la Révolution,
        il est décrété bien national .Au début du 19ème siècle, il devient  une
        ferme inscrite  à l'inventaire des monuments historiques en 1926. Il est
        acquis par Henri de Jouvencel en 1932. Son petit fils Roland de Longevialle,
        propriétaire actuel,  et sa famille vous font découvrir cette demeure de
        charme.
      </p>

      <p>
        Au cours de votre visite, vous admirerez la salle des gardes avec sa magnifique charpente, la bibliothèque et les souvenirs de famille, la tour du pont levis, le parc riche en essences choisies par la maitresse des lieux. Les guides, membres de la
        famille, vous plongeront dans l'Histoire de France et les anecdotes familiales.
      </p>

      <p>Les guides, membres de la famille, vous plongeront dans l'Histoire de France et les anecdotes familiales.</p>
    </div>
  </main>
</div>