---
layout: layout.njk
title: Home
bodyClass: "home"
---

<div class="main-wrapper d-flex justify-content-center align-items-center text-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto">
      <h1 class="display-2">Bienvenue à <br>Chateau De Villeconin</h1>
      <h3>Un château médiéval en Essonne</h3>
      <a href="/access/" class="btn btn-dark btn-lg mt-4">Accés et Horaires</a>
    </div>
  </main>
</div>