---
layout: layout.njk
title: Home
bodyClass: "home"
---

<div class="main-wrapper d-flex justify-content-center align-items-center text-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto">
      <h1 class="display-2">Chateau De Villeconin</h1>
      <h3>Un château médiéval en Essonne</h3>
      <p>
        Ouvert au public du 1er juin au 10 juillet de 14:30 à 18:00
        <br>
        Du lundi au vendredi sur réservation uniquement au : 06 85 08 41 30
        <br>
        Visites guidées le week-end 
      </p>
      <h3>Tarifs</h3>
      <p>
        Visite guidée : 7€<br>
        Tarif réduit (demandeurs d’emploi, carte invalidité, étudiants) : 5€<br>
        Visite parc : 3€<br>
        Gratuit pour les - de 14 ans
      </p>

      <p>Ouvert aux groupes, shooting, tournages et événements sur RDV au 06 85 08 41 30.</p>

      <p>Site en cours de construction</p>
    </div>
  </main>
</div>