---
layout: layout.njk
title: Accès
bodyClass: "access"
---

<div class="main-wrapper d-flex justify-content-center align-items-center text-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto">
      <h1 class="display-2">Accés et Horaires</h1>
      <p>Le château est situé à Villeconin, dans l'Essonne, à 50 km au sud de Paris.</p>
      <p>Ouvert au public,  tous les jours du 1er juin au 10 juillet, de 14:30 à 18:00.</p>
      <p>Aux groupes toute l'année sur RDV.</p>
      <a href="/contact/" class="btn btn-dark btn-lg mt-4">Contact</a>
    </div>
  </main>
</div>