---
layout: layout.njk
title: Qui Sommes-Nous
bodyClass: "qui-sommes-nous"
---

<div class="main-wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto mt-5">
      <h1 class="display-2">Histoire du Château </h1>
      <p>Le château de Villeconin est une demeure privée, qui appartient à la famille des propriétaires depuis 1932.</p>
      <p>Construit à la fin du 14ème siècle par Jean de Montagu, le château de Villeconin a évolué avec les siècles et l’Histoire.</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_1.jpg" alt="Parc du château de Villeconin" />
      <p>Château médiéval comme le montre son ancien pont-levis, le château de Villeconin est transformé à la Renaissance pour davantage répondre au goût du jour.</p>
      <p>A la Révolution, le château devient bien national, avant d’être racheté par des agriculteurs et transformé en exploitation agricole. C’est donc sous la forme d’une ferme qu’Henri de Jouvencel, grand-père du propriétaire actuel, trouve le château lors de son acquisition en 1932.</p>
      <h1>A la découverte du Château</h1>
      <p>Une demeure de charme dans un parc paysagé...</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_2.jpg" alt="Château de Villeconin" />
      <p>Parcourez la longue allée qui vous mène au château...</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_3.jpg" alt="Château de Villeconin" />
      <p>Entrez dans la Cour et découvrez sa tour ronde, son ancien pont-levis, et ses bâtiments remplis d’Histoire...</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_4.jpg" alt="Château de Villeconin" />
      <p>Découvrez sa salle des gardes avec sa charpente en forme de coque de bateau renversée et sa Bibliothèque ainsi que leurs meubles datant du 16 au 19ème siècles...</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_5.jpg" alt="Château de Villeconin" />
      <p>Flânez dans le parc, et découvrez ses fleurs, ses buis, sa statue, son potager...</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_6.jpg" alt="Château de Villeconin" />
    </div>
  </main>
</div>