<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Chateau De Villeconin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/qui-sommes-nous/' %}active{% endif %}" href="/qui-sommes-nous/">Qui sommes nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/visit/' %}active{% endif %}" href="/visit/">Visite du chateau</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/vos-evenements/' %}active{% endif %}" href="/vos-evenements/">Vos Évenéments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/tournages-et-shootings/' %}active{% endif %}" href="/tournages-et-shootings/">Tournages et Shootings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>