---
layout: layout.njk
title: Visit
bodyClass: "visit"
---

<div class="main-wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto">
      <h1 class="display-2 mt-5">Visite du chateau</h1>
      <p>A Villeconin, vous découvrirez un château à taille humaine rempli de charme, maintenu par la même famille depuis près d’un siècle. Nous avons hâte de vous y accueillir !</p>
      <img class="img-fluid mb-3" src="/assets/images/castle_7.jpg" alt="Parc du château de Villeconin" />
      <h1>Horaires et jours de visite</h1>
      <p>Ouvert au public du 1er juin au 10 juillet de 14:30 à 18:00 et aux Journées du Patrimoine</p>
      <ul>
        <li>Du lundi au vendredi sur réservation uniquement au : 06 85 08 41 30 </li>
        <li>Visites guidées le week-end</li>
      </ul>
      <p>En dehors de cette période, sur réservation pour les groupes au 06 85 08 41 30</p>
      <h1>Tarifs</h1>
      <ul>
        <li>Visite guidée : 7€</li>
        <li>Tarif réduit (demandeurs d’emploi, carte invalidité, étudiants) : 5€</li>
        <li>Visite parc : 3€</li>
        <li>Gratuit pour les - de 14 ans</li>
      </ul>
    </div>
  </main>
</div>