---
layout: layout.njk
title: Tournages et shooting
bodyClass: "tournages"
---

<div class="main-wrapper d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <main class="container pt-5">
    <div class="col-lg-6 m-auto mt-5">
      <h1 class="display-2">Tournages et Shooting</h1>
      <p>Le château de Villeconin accueille régulièrement des tournages et shooting photos.</p>
      <p>Ils ont été tournés au Château de Villeconin : </p>
      <ul>
        <li>La série télévisée Rastignac</li>
        <li>Un épisode de la série HBO Irma Vep</li>
        <li>Le film franco-italien Chèque en boîte</li>
        <li>Le film franco-belge La Croix des vivants</li>
      </ul>
      <p>Pour toute demande de visite ou de devis : 06 85 08 41 30</p>
      <img class="img-fluid mb-3" src="/assets/images/shooting_2.jpg" alt="Parc du château de Villeconin" />
      <img class="img-fluid mb-3" src="/assets/images/shooting_3.jpg" alt="Parc du château de Villeconin" />
      <img class="img-fluid mb-3" src="/assets/images/shooting_4.jpg" alt="Parc du château de Villeconin" />
    </div>
  </main>
</div>