@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Parisienne&family=Whisper&display=swap');

/* WRAPPER STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chateau-red: #5B110F;
  --jalapeno-red: #b71540;
  --cursive-font: 'Ms Madi', cursive;
}

body {
  background: var(--chateau-red);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.fixed-body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
}



/* HEADER COMPONENT STYLES */
header {
  grid-column: 1 / 4;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background: var(--chateau-red);
}

/* BANNER COMPONENT */
.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner > a {
  color: white;
  text-decoration: none;
}

.banner > a > h1 {
  font-weight: 100;
  padding-top: 1.5rem;
  color: white;
  font-family: var(--cursive-font);
  font-size: 3rem;
}

.banner > a > p {
  color: white;
  padding-bottom: 3rem;
}

.banner > svg {
  display: none;
}

/* MOBILE BANNER STYLES */

@media (max-width:500px) {
  .banner {
    height: 20vh;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1.5rem;
    grid-template-areas:
      'logo icon'
      'tagline .';
    box-shadow: 0 0 1px 0 white;
  }

  .banner > a > h1 {
    grid-area: logo;
    font-size: 2rem;
    padding-top: 10px;
  }

  .banner > a > p {
    grid-area: tagline;
    padding-bottom: 1.5rem;
  }
  
  .banner > svg {
    display: block;
    grid-area: icon;
    justify-self: flex-end;
  }
}

/* NAVBAR COMPONENT */

nav {
  box-shadow: 0 0 3px 0 white;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

nav > ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

nav > ul > li {
  padding: 0 1rem;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

nav > ul > li:last-child {
  padding-right: 0;
}

nav > ul > li > a.nav-link-active {
  font-weight: bold;
}

/* MOBILE NAV STYLES */

@media (max-width: 500px) {
  .nav {
    display: none;
  }

  .nav.show-mobile-menu {
    display: flex;
    height: 100vh;
    box-shadow: none;
    padding-top: 25%;
  }

  .nav.show-mobile-menu > ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .nav.show-mobile-menu > ul > li {
    padding: 1rem;
  }
}

/* HERO COMPONENT */

.hero {
  grid-column: 1 / 4;
  height: 100%;
}

.hero > img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}


/* MAIN CONTENT STYLES */
main {
  height: 100%;
  grid-column: 2;
  margin-top: 5rem;
}

main > figure > img {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

main > section {
  margin-bottom: 5rem;
}

main > section.col-even-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}


main > section.col-big-right-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
}

main > section.col-big-right-2 > article > p,
main > section.col-big-right-2 > article > ul {
  max-width: 55ch;
}

main > section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main > section > article > h1 {
  /* font-family: 'Ms Madi', cursive; */
  color: white;
  font-size: 3.5rem;
}

main > section > article > p,
main > section > article > ul {
  color: white;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

main > section > article > a,
main > section > article > p > a  {
  color: white;
}

main > section > article > ul {
  padding-left: 1rem;
}

a.mail-link {
  display: block;
  color: white;
  margin-bottom: 1rem;
}


/* MAIN MOBILE STYLES */
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 20px 1fr 20px;
  }

  main {
    margin-top: 2.5rem;
  }

  main > section {
    margin-bottom: 2.5rem;
  }

  main > section.col-even-2 {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 1.25rem;
  }

  main > section.col-big-right-2 {
    display: flex;
    flex-direction: column;
    grid-gap: 1.25rem;
  }
}