@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Parisienne&family=Whisper&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

:root {
  --chateau-red: #5B110F;
  --jalapeno-red: #b71540;
  --cursive-font: 'Ms Madi', cursive;
}

body {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body.fixed-body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  color: var(--chateau-red);
}

main {
  height: 100%;
  grid-column: 2;
}

main.home,
main.about {
  margin-top: 5rem;
}

main.contact {
  margin-top: 2.5rem;
}

main > figure > img {
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}

main > section {
  margin-bottom: 5rem;
}

main > section.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

main > section.col-2 > article > h1 {
  margin-bottom: 2rem;
}

main > section.col-big-right-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
}

main > section.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main > section.col-big-right-2 > article > p,
main > section.col-big-right-2 > article > ul {
  max-width: 55ch;
}

main > section > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main > section > article > h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

main > section > article > p,
main > section > article > ul {
  line-height: 1.75rem;
}

main > section > article > ul {
  padding-left: 1rem;
}

a.mail-link {
  display: block;
  margin-bottom: 1rem;
}


/* MAIN MOBILE STYLES */
@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 20px 1fr 20px;
  }

  main {
    margin-top: 1.2rem !important;
  }

  main > section {
    margin-bottom: 2.5rem;
  }

  main > section.col-2 {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 1.25rem;
  }

  main > section.col-2 {
    display: flex;
    flex-direction: column;
    grid-gap: 1.25rem;
  }
}